body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 600px;
  border: none;
  border-radius: 12px;
  margin: 0 auto;
  background-color: #dcdcdc;
  padding: 25px 30px;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.5);
}

#weather-input {
  padding: 5px;
  font-size: 15px;
  width: 450px;
  background-color: #dcdcdc;
}
#btn {
  padding: 5px 10px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  font-size: 18px;
}
.main {
  display: flex;
  justify-content: space-between;
}
#city {
  color: #d2691e;
  font-size: 45px;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}
#weather-value {
  font-size: 68px;
  margin: 10px 10px 10px 0;
  line-height: 12px;
}
.deg {
  font-size: 25px;
  position: relative;
  top: -25px;
  left: 30px;
}
.weather-condition {
  margin: 70px 30px 0 0;
  font-size: 25px;
  line-height: 52px;
  font-weight: 500;
}
.weather-date,
.weatherDetail {
  font-size: 22px;
}
.icon {
  font-size: 20px;
  position: relative;
  left: 15px;
  top: 28px;
}

.color {
  color: #d2691e;
}

.current-weather {
  margin: bottom 20px;
}
.weatherItem {
  position: relative;
  top: -40px;
  right: 35px;
  bottom: 10px;
}
.forecast-weather {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px 20px;
  border-bottom: 1px solid grey;
}
.forecast-day {
  font-size: 18px;
}
.forecast-icon {
  width: 70px;
  height: 80px;
  text-align: center;
  position: relative;
  right: 18px;
}
.min {
  opacity: 0.8;
}
.max,
.min {
  margin-bottom: 10px;
  display: inline-block;
}
.footer {
  font-size: 12px;
  color: #333;
  font-weight: bold;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#showForecast {
  font-size: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  width: 50%;
  padding: 5px 5px 0;
  color: grey;
  cursor: pointer;
  margin-top: 20px;
}
