body {
  font-family: Helvetica, sans-serif;
  background-color: aliceblue;
}

.container {
  width: 450px;
  border: none;
  border-radius: 12px;
  margin: 60px auto;
  color: #c0c0c0;
  background-color: #03031b;
  padding: 15px;
}

#weather-input {
  padding: 5px;
  font-size: 15px;
  width: 350px;
  background-color: #c0c0c0;
}
#btn {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 18px;
  background-color: #c0c0c0;
  color: #03031b;
}

#city {
  font-size: 50px;
  letter-spacing: 1.5px;
  margin: 10px 0 0 0;
  text-align: center;
}
#weather-value {
  font-size: 68px;
  margin: 10px;
  line-height: 12px;
}
.current-weather,
.dateElement,
.weather-condition,
.weather-date,
.weatherDetail {
  text-align: center;
  font-size: 18px;
}
.deg {
  font-size: 25px;
  position: relative;
  top: -30px;
  left: -10px;
}

.icon {
  font-size: 20px;
}

.icon {
  margin-bottom: 50px;
}

.forecast-weather {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0 0 0;
}
.forecast {
  border: none;
  border-radius: 3px;
  background-color: #333;
  width: 60px;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 30px;
}

.forecast-day {
  font-size: 18px;
}

.forecast-icon {
  width: 70px;
  height: 65px;
  text-align: center;
  margin-left: -5px;
}
.min {
  opacity: 0.8;
}
.max,
.min {
  margin-bottom: 10px;
  display: inline-block;
}
.footer {
  font-size: 12px;
  color: #c0c0c0;
  font-weight: bolder;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #c0c0c0;
}
